{% extends "layout.html" %}
{% block content %}

<br>
<table class="table">
    <thead class="table-dark">
    <tr>
        <th>#</th>
        <th>名前</th>
        <th>年齢</th>
        <th>メール</th>
        <th>パスワード</th>
    </tr>
    </thead>
    <tbody>
    {% for u in users %}
    <tr>
        <td>{{ u.id }}</td>
        <td><a href="users/{{ u.id }}">{{ u.name }}</a></td>
        <td>{{ u.age }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.password }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
